@import 'config';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}


//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
    font-size: 4rem;
    
    }

    &.sm-heading {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    padding: 0.1rem 0.4rem;
    background: rgb(42, 42, 42);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;

    .menu-nav {
        /* display none, 'cause it's not visible at first. Only if you click on the three solid line at the top right corner the "menu-nav" gets activated */
        display:none;
        position: fixed;
        width: 50%;
        height: 50%;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    .menu-btn {
        position: fixed;
        right: 25px;
        top: 25px;
        cursor: pointer;
        @include easeOut;

        &.close {
            margin: 0;
        
            :nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
        
            :nth-child(2) {
                display: none;
                transform: skewY(-50deg);
            }
        
            :nth-child(3) {
                transform: rotate(-45deg) translate(0px, 0px);
            }

        }
    
        .btn-line {
            border-radius: 20px;
            width: 28px;
            height: 3px;
            border: 0.5px solid;
            margin: 0 0 4px 0;
            background: #fff;
            @include easeOut;         
        }
    }
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding-top: 3%;
    padding-left: 3%;
    height: 100%;

    .icons a {
        padding-right: 0.5rem;

        &:hover {
            display: inline-block;
            color: $secondary-color;
            @include easeOut();
        }
    }    
    

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}
