@import 'config';
@import 'menu';
@import 'mobile';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}


//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 4rem;

    }

    &.sm-heading {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        padding: 0.1rem 0.4rem;
        background: rgb(42, 42, 42);
    }
}

a {
    color: #fff;
    text-decoration: none;
}
  
.text-secondary {
    color: $secondary-color;
}

main {
    padding-top: 3%;
    padding-left: 3%;
    height: 100%;

    .icons a {
        padding-right: 0.5rem;

        &:hover {
            display: inline-block;
            color: $secondary-color;
            @include easeOut();
        }
    }


    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}